/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos do nav */
.nav-bar {
    background: linear-gradient(to right, green, rgb(128, 201, 33));
    padding: 10px;
}

/* Estilo do botão de menu */
#menu-toggle {
    display: none; /* Vai aparecer apenas em dispositivos móveis */
}

/* Menu inicial escondido */
.nav-bar .Menu {
    list-style: none;
    display: flex; /* Alinhamento horizontal */
    justify-content:center;
    margin: 0 20px;
}

.nav-bar ul{
    text-align: center;
}

.nav-lista{
    text-align: center;
}

.nav-bar .Menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px 10px;
    display: block;
}

.Menu li a:hover {
    color: #b8ff33;
}

.nav-item a{
    color: white;
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.inicio-section {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    margin-top: 20px;
}

.inicio-section .container h1{
    font-size: 2.5rem;
    color: green;
}

.inicio-section img{
    width: 50%;
    margin: 10px;
    margin-bottom: 20px;
}


.subtitulo {
    font-size: 1.5rem;
    color: green;
    margin-bottom: 20px;
}

.descricao {
    font-size: 1.1rem;
    color: #555;
    max-width: 800px;
    margin: auto;
    margin-bottom: 10px;
    text-align: justify;
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Seção de Alimentação */
.alimentacao-section {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.alimentacao-section .container h2{
    font-size: 2.2rem;
    color: green;
}

.alimentacao-section .container h3{
    font-size: 2.2rem;
    color: green;
    margin: 70px;
}

.alimentacao-section .container .subtitulo {
    font-size: 1.4rem;
    color: green;
    margin-bottom: 20px;

}

.alimentacao-section .descricao {
    font-size: 1.1rem;
    color: #555;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    text-align: justify;
}

.alimentacao-section img{
    width: 50%;
    margin: 10px;
    margin-bottom: 20px;
}

.dicas-lista {
    text-align: justify;
    max-width: 800px;
    margin: 20px auto;
    list-style-type: disc;
    padding-left: 20px;
}

.dicas-lista li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.dicas-lista li strong {
    color: green;
}

/* Estilos para as refeições */
.refeicoes-exemplos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.refeicao {
    background-color: rgb(22, 167, 22);
    padding: 50px;
    width: 30%;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 20px;
}


.refeicao h4 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.refeicao p {
    font-size: 1rem;
    color: #ffffff;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .refeicao {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Ocultar menu em telas menores */
@media (max-width: 760px) {
    #menu-toggle{
        display: block;
    }
    .Menu {
        text-align: center;
    /* Oculta o menu inicialmente em dispositivos móveis */
        flex-direction: column; /* Deixa as opções em coluna */
        background-color: #114416;
        position: absolute;
        top: 50px;
        width: 100%;
    }

    .Menu li a {
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }

    /* Exibir o botão de menu em dispositivos móveis */
    .Menu-toggle {
        display: block;
        color: #eef7f9;
        cursor:  pointer;
    }

    .Menu .open {
        display: flex; /* Exibe o menu quando o botão é clicado */
    }
}

/* Seção de Exercícios Físicos */
.exercicios-section {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;;
    margin-top: 20px;
}

.exercicios-section h2 {
    font-size: 2.2rem;
    color: green;
}

.exercicios-section .subtitulo {
    font-size: 1.4rem;
    color: green;
    margin-bottom: 20px;
}

.exercicios-section .descricao {
    font-size: 1.1rem;
    color: #555;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    text-align: justify;
}

.exercicios-section .img{
    width: 50%;
    margin: 10px;
    margin-bottom: 20px;
}

.exercicios-niveis {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.nivel {
    background-color: #f9f9f9;
    padding: 20px;
    width: 30%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 20px;
}

.nivel h3 {
    font-size: 1.6rem;
    color: rgb(3, 156, 3);
    margin: 15px;
}

.nivel ul {
    list-style-type: none;
    padding: 0;
}

.nivel ul li {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: justify;
}

.nivel ul li strong {
    color: rgb(48, 58, 48);
}
.intermediario{background-color: green;}
.intermediario h3{color: white;}
.intermediario ul li{color: white;}
.intermediario ul li strong{color: white;} 
.avancado{background-color: black;}
.avancado h3{color: white;}
.avancado ul li{color: white;}
.avancado ul li strong{color: white;}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .nivel {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*Saúde mental */

.saude-mental-section{
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;;
    margin-top: 20px;
}

.saude-mental-section img{
    width: 50%;
    margin: 10px;
    margin-bottom: 20px;
}

.saude-mental-section h2{
    color: green;
    margin-bottom: 35px;
}

.saude-mental-section p{
    max-width: 800px;
    margin: 20px auto;
    text-align: justify;
}

.saude-lista{
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    list-style-type: disc;
    padding-left: 20px;
}

.saude-lista li{
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: justify;
}

.saude-lista strong{color: green;}

.imc-section {
    background-color: white;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;  
    display: block;
}

.imc-section h2 {
    font-size: 2.2rem;
    color: green;
    margin-bottom: 20px;
}

.imc-section .container{
    text-align: center;
}

.imc-section .calculo{
    text-align: center;
display: block;
}

.imc-section input {
    padding: 10px;
    font-size: 1.2rem;
    width: 80%;
    max-width: 300px;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.imc-section button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    scroll-behavior: smooth;
    margin:  20px;

}

.imc-section button:hover {
    background-color: rgb(35, 179, 35);
    padding: 12px 22px;
    transition: 0.1s;
    scroll-behavior: smooth;
}

.imc-section .resultado {
    margin-top: 20px;
    font-size: 1.4rem;
    color: #333;
}

.imc-section .resultado strong {
    font-size: 1.6rem;
    color: green;
}


